extends ./layout/index
block contenido
    main.container.mt-5
       .row
          .col-md-5
              img(src="img/nosotros.jpg", alt="",class="img-fluid")
          .col-md-7
            h1=pagina
            p ipsum dolor sit amet consectetur adipisicing elit. Officiis corrupti minima quos velit porro harum voluptatum veritatis molestias aliquam dolor! Distinctio veritatis quod, harum voluptatem minus dolor officia commodi labore?
   
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, voluptas! Aliquam, modi dolore. Ratione fugiat praesentium minima. Sequi, esse. Cumque alias quasi, perspiciatis repudiandae qui dolor ipsum provident sapiente quod!
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Ubicacion 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, voluptas! Aliquam, modi dolore. Ratione fugiat praesentium minima. Sequi, esse. Cumque alias quasi, perspiciatis repudiandae qui dolor ipsum provident sapiente quod!
    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Contacto 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, voluptas! Aliquam, modi dolore. Ratione fugiat praesentium minima. Sequi, esse. Cumque alias quasi, perspiciatis repudiandae qui dolor ipsum provident sapiente quod!
    


