.row.comentarios
    each comentarioss in mensajes
        .col-md-6.col-lg-4.mb-4
            .card
                .card-body
                    blockquote.blockquote
                    p.mb-0
                        |#{comentarioss.mensaje}
                    footer.blockquote-footer
                        |#{comentarioss.nombre}
