header 
    .navegacion 
        .container.cont-header
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4.cont-img
                .col-md-4.col-2
                    a(href="/") 
                        img(src="/img/logo.png", alt="", class="img-tam")
                .col-m-6.nav-links
                    nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-end
                       a.nav-link(href="/nosotros") Nosotros
                       a.nav-link(href="/comentarios") Comentarios
                       a.nav-link(href="/viajes") Viajes
                       a.nav-link(href="/contacto") Contacto
